$geoscape-dialog-font-size: 12pt;
$geoscape-dialog-padding: 0.5em;
$geoscape-dialog-white: #DDD;
$geoscape-dialog-background: rgba(11, 11, 11, 0.93);
$geoscape-dialog-black: rgb(11, 11, 11);
$geoscape-font-family: monospace;

.geoscape-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	border: 14px solid $geoscape-dialog-background;
	border-top: 16px solid $geoscape-dialog-background;
	border-bottom: 16px solid $geoscape-dialog-background;
	user-select: none;
}

.geoscape-dialog .container {
	font-family: $geoscape-font-family;
	font-size: $geoscape-dialog-font-size;
	background-color: $geoscape-dialog-background;
	color: $geoscape-dialog-white;
	border: 1px solid white;
	padding: $geoscape-dialog-padding;
	padding-top: 1em;
	width: 600px;
}

.geoscape-dialog .title {
	position: absolute;
	top: calc(-12pt / 2);
	left: 0.5em;
	display: inline-block;
	background-color: $geoscape-dialog-black;
	font-family: $geoscape-font-family;
	font-size: $geoscape-dialog-font-size;
}

.geoscape-dialog .buttons-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 0.2em;
}

.geoscape-dialog .buttons-container button {
	font-size: $geoscape-dialog-font-size;
	padding: 0.2em;
	background-color: 0;
	background: 0;
	border: 0;
	color: $geoscape-dialog-white;
	font-family: $geoscape-font-family;
	width: 100%;
}

.geoscape-dialog .buttons-container button:hover {
	background-color: $geoscape-dialog-white;
	color: $geoscape-dialog-black;
	outline: 0 !important;
}

.geoscape-dialog .buttons-container button:focus {
	background-color: $geoscape-dialog-white;
	color: $geoscape-dialog-black;
	outline: 0 !important;
}

.geoscape-dialog .buttons-container button:active {
	color: $geoscape-dialog-white;
	background-color: transparent !important;
	outline: 0 !important;
}

.geoscape-dialog img {
	width: 150px;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.25em;
}