@import "canvas.scss";
@import "loading.scss";
@import "map editor.scss";
@import "geoscape.scss";
@import "datacus.scss";
@import "unit.scss";

body > canvas {
	position: absolute;
	top: 0;
	left: 0;
}