.tile-selection {
	width: 300px;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100000;
	background-color: #444;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	align-content: flex-start;
	box-sizing: border-box;
	padding-bottom: 30px;
}

.tile-preview {
	width: 64px;
	height: 64px;
	background-image: url("../data/sprites/spritesheet test.png");
	background-position-x: -0px;
	background-position-y: -0px;
}